body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #494949;
    color: #fff;
    padding: 40px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: right;
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}
.logo {
    text-transform: uppercase ;
    margin: -18px;
    padding: 15px;
    float: left;
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media (min-width: 475px) {
 .container{
    max-width: 475px;
    }
 canvas {
    max-width: 475px;
    }
}

@media (min-width: 640px) {}
.container{
    max-width: 640px;
 }

 @media (min-width: 768px) {
    .container{
    max-width: 768px;
    }
    canvas {
    max-width: 1536px;
    }
 }

 @media (min-width: 1024px) {
.container{
    max-width: 1024px;
    }
    canvas {
    max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .header_title {
    font-size: 1.5rem;
    }
    .header_link,
    .header_btn {
    font-size: 0.8rem;
    }
    canvas {
        max-width: 1280px;
        }
}
.container{
    max-width: 1280px;
 }

 @media (min-width: 1536px) {
.container{
    max-width: 1536px;
    }
    canvas {
    max-width: 1536px;
    }
}