body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #494949;
    color: #fff;
    padding: 40px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: right;
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    float: right;
    padding: 20px;
}

section {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #000000;
}

h2 {
    color: rgb(255, 255, 255);

}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}
.logo {
    text-transform: uppercase ;
    margin: -18px;
    padding: 15px;
    float: left;
}
img {
    float: right;
    width: 200px;
    height: 200px;
    
}
p{
    float: left;
}   
.dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
}
.dropdown_menu ul {
    display: block;
}
p {
    color: black;
}

.collage {
    display: grid; /* This will create a grid layout */
    grid-template-columns: repeat(4, 1fr); /* 3 equal-width columns */
    gap: 15px; /* Spacing between blocks */
  }
  
  .text-block {
    background-color: rgb(37, 36, 36);
    padding: 5px;
    text-align: center; /* Align text in the center */
  }
